<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Game List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Edit Game</h1>
	<div>
		<form th:object="${game}" th:action="@{/save}" action="#"
			method="post">
			<input type="hidden" th:field="${game.game_id}" />
			<p>Game's name: <input type="text" th:field="*{game_name}" /> </p>
			
			<p>Description: <input type="text" th:field="*{description}" /> </p>
			

			<div style="clear: both; display: block; height: 10px;"></div>
			<p>
				Category: <select th:field="*{genres}" class="form-control" style="width: 200px;">
					<option th:each="genre : ${genres}" th:value="${genre.genre_id}"
						th:text="${genre.genre_name}"></option>
				</select>
			</p>
			<p>
				Publisher: <input type="text" th:field="*{publisher.publisher_name}" />
			</p>
			
			<input type="submit" value="Edit book" class="btn btn-primary mb-2"></input>
			
		</form>
	</div>

</body>
</html>